 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Creative. Hybrid. Loyal. Compassionate. Team Player. These are words that would describe who I am, but I think the best word that I truly identify with is <em>creative</em>. I unleash my creativity in various areas in my personal and professional life: whether it's being creative with code, in solving problems, on the dance floor, with musical instruments, or with a graphite pencil (or Apple pen). </p>
                </div>
                <div class="col-lg-4">
                    <p>While I love being creative, I'm also pretty good at other things too, like marketing and front-end development. I'm armed with a passionate mindset, ready to tackle challenges with creativity and determination.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my resume
                    </a>
                </div>
            </div>
        </div>
    </section>
